#currencies-block-top {
  float: right;
  position: relative; }
  @media (max-width: 479px) {
    #currencies-block-top {
      width: 25%; } }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top div.current {
    font: 300 13px/22px "Open Sans", sans-serif;
    padding: 8px 10px 10px 10px;
    color: #fff;
    cursor: pointer;
    line-height: 18px; }
    @media (max-width: 479px) {
      #currencies-block-top div.current {
        text-align: center;
        padding: 9px 5px 10px;
        font-size: 11px; } }
    #currencies-block-top div.current strong {
      color: #eec98f; }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active {
      background: none; }
    #currencies-block-top div.current:after {
      content: "\f107";
      font-family: "FontAwesome";
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      vertical-align: -2px;
      padding-left: 12px; }
      @media (max-width: 479px) {
        #currencies-block-top div.current:after {
          padding-left: 2px;
          font-size: 13px;
          line-height: 13px;
          vertical-align: 0; } }
    @media (max-width: 479px) {
      #currencies-block-top div.current .cur-label {
        display: none; } }
  #currencies-block-top ul {
    display: none;
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.05);
    position: absolute;
    top: 37px;
	border-bottom:2px solid #11a8ab;
    left: 0;
    width: 157px;
    background: #282f4c;
    z-index: 2; }
    #currencies-block-top ul li {
      color: #fff;
	      font: 300 13px/22px "Roboto", sans-serif;
      line-height: 35px;
      font-size: 13px; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: #fff; }
      #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a {
        background: #282f4c; color:#eec98f; }
