/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left {
  overflow: hidden;
  width: 50%;
  float: left;
  border-bottom:0px solid #353535;
  padding: 18px 15px 7px 15px;
  margin-bottom: 0; }
	            @media (min-width: 768px) and (max-width: 991px) {
	 #footer #newsletter_block_left {
      width: 100%; display:inline-block; margin-left:40px; padding: 0px 15px 15px 15px;}			
				}
  @media (max-width: 767px) {
    #footer #newsletter_block_left {
      width: 100%; padding-top:15px;} }
  #footer #newsletter_block_left h4 {
    background: none;
    float: left;
    padding: 7px 16px 5px 0;
    text-transform: none;
      font: 300 18px/20px "Open Sans", sans-serif;
    border: none; }
	#footer #newsletter_block_left h4:before {
	content:"\f003";
	font-family:"FontAwesome";
	padding-right:10px;
	font-size:15px;
	margin-right:10px;
	margin-top:20px;
	border-top:0px!important;
	color:#e64b65;
	}
    #footer #newsletter_block_left h4:after {
      display: none; }
	  @media (max-width: 480px) {
	   #footer #newsletter_block_left h4 {
    background: none;
    float: left;
	display:none; 
	letter-spacing:0px;
    padding: 15px 16px 5px 0;
    text-transform: none;
    font-size: 16px; 
	font-weight:100;
    line-height: 25px;
    border: none; }
	  }
  #footer #newsletter_block_left .block_content {
    overflow: hidden; }
  #footer #newsletter_block_left .form-group {
    margin-bottom: 0; }
    #footer #newsletter_block_left .form-group .form-control {
      height: 45px;
      line-height: 30px;
      max-width: 267px;
      background: #282f4c;
      border-color: #50597b;
      color: white;
      padding: 5px 43px 5px 12px;
      display: inline-block;
      float: left; }
	   
      #footer #newsletter_block_left .form-group .form-control:focus {
       -webkit-box-shadow: white 0px 0px 0px; 
        -moz-box-shadow: white 0px 0px 0px;
        box-shadow: white 0px 0px 0px; }
    #footer #newsletter_block_left .form-group .button-small {
      margin-left: -35px;
      border: none;
      background: none;
      text-align: center;
      color: #ccc;
      padding: 12px; }
     #footer #newsletter_block_left .form-group .button-small:before {
        content: "\f105";
        font-family: "FontAwesome";
        font-size: 20px;
		color:#50597b;
        line-height: 20px;
		padding-top:3px; 
		margin-left:-7px;}
      #footer #newsletter_block_left .form-group .button-small:hover {
        color: #ccc; }
      #footer #newsletter_block_left .form-group .button-small span {
        display: none; }
  #footer #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }
  #footer #newsletter_block_left .newsletter-input {
    max-width: 300px !important; }
